body {
    margin:0;
    background-color: rgb(198, 206, 206);
}
header {
    color: rgb(102, 100, 117);
    background-color: lightgray;
    padding:3%;
}
#main {
    font-size: 30px;
    text-align: center;
}
#sub {
    font-size: 20px;
    text-align: right;
}
#greeting {
    font-size: 20px;
    text-align: right;

}


nav {
    height:50px;
    background-color: lightgray;
}
#nav {
    display: inline-block;
    font-size: 25px;
    font-weight: 100;
    width:30%;
    padding-left: 50px;
}
#mainbody {
    display: inline-block;
}

#bio{
    border: brown20px solid;
    width:60%;
    float: left;

}

article {
    padding-left: 10%;
    padding-right: 10%;



}
.para {
    color: rgb(77, 74, 74);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 2em;
    line-height: 1.7em;
    padding: thick;
    text-align: justify;
    
}
.top10 {
    color: rgb(83, 11, 11);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    padding: thick;
    text-align: justify;

}

#jscode {
    width:40%;
    margin-left: 60%;
}
#codeHere {
    padding-right: 10%;
}

.quiz {
    color: rgb(77, 74, 74);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;


}
#quizTitle{
    font-size: 20px;
}
#quizNote {
    font-size: 15px;
}

button {
    font-size: 20px;
    color: orange;
    width:80%;
}

#answer {
    font-size: 15px;
    color: rgb(77, 74, 74);
    

}


footer {
    height: 100px;
    background-color: lightgray;
    padding-left: 50px;
    padding-top: 50px;
}