body {
    background-color: rgb(198, 206, 206);
}
.para {
    color: rgb(77, 74, 74);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 2em;
    line-height: 1.7em;
}

#greeting {
    font-size: 30px;
}

.quiz {
    color: rgb(255, 94, 0);
    font-size: 25px;
    font-weight: 200;
}

button {
    font-size: 25px;
    color: orange
}

#answer {
    font-size: 25px;
    color:rgb(173, 153, 153);
    

}